body{
    @apply bg-light-secondary-100 dark:bg-dark-primary-600 scroll-smooth ;
}

.nav-btn{
    width: 35px;
    height: 35px;
    padding: 3px;
    background: transparent;
    cursor: pointer;
    /* display: flex; */ /* actually this comes from the tailwind that's why it's commented */
    flex-direction: column;
    transition: all 300ms ease-in-out;
}
.nav-btn span{
    position: relative;
    width: 100%;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
}
.nav-btn span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    left: 0;
    top: -8px;
    transition: all 300ms ease-in-out;
}
.nav-btn span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    left: 0;
    top: 8px;
    transition: all 300ms ease-in-out;
}
.nav-btn.active{
    rotate: 90deg;
}
.nav-btn.active span{
    background: transparent;
}
.nav-btn.active span::before{
    top: 0;
    transform: rotate(45deg);
}
.nav-btn.active span::after{
    top: 0;
    transform: rotate(-45deg);
}

.label{
    @apply text-sm font-semibold text-light-quarternary-500 dark:text-dark-primary-200 pl-1
}
.input{
    @apply w-full px-3 py-2 flex
            text-sm text-light-quarternary-500 dark:text-dark-primary-300 
            shadow-light dark:shadow-dark
            border border-light-quarternary-200 dark:border-dark-primary-400  rounded-md
            bg-transparent
            focus:border-transparent dark:focus:border-transparent
            focus:shadow-none
            focus:bg-light-secondary-200 dark:focus:bg-dark-primary-500 
            transition-all duration-300 outline-none 
}
.error{
    @apply text-xs text-error
}
.upload-btn{
    @apply px-4 py-2 flex items-center justify-center
            text-sm text-light-quarternary-500 dark:text-dark-primary-300 
            shadow-light dark:shadow-dark
            border border-light-quarternary-200 dark:border-dark-primary-400  rounded-md
            bg-transparent cursor-pointer
            hover:border-transparent dark:hover:border-transparent
            hover:shadow-none
            hover:bg-light-secondary-200 dark:hover:bg-dark-primary-800 
            transition-all duration-300 outline-none 
}

.images-preview{
    @apply w-full h-[120px] p-4 
            flex justify-start items-start gap-3 overflow-hidden overflow-x-auto
            bg-light-secondary-200 dark:bg-dark-primary-500
            rounded-md shadow-light dark:shadow-dark
}
.submit-btn{
    @apply px-4 py-2 flex items-center justify-center
            text-sm text-light-quarternary-500 dark:text-dark-primary-300 
            shadow-light dark:shadow-dark
            border border-light-quarternary-200 dark:border-dark-primary-400  rounded-md
            bg-transparent cursor-pointer
            hover:border-transparent dark:hover:border-transparent
            hover:shadow-none
            hover:bg-light-quarternary-500 dark:hover:bg-dark-primary-800 
            hover:text-light-secondary-100 dark:hover:text-dark-primary-300
            transition-all duration-300 outline-none 
}